body{
  display: flex;
  align-items: center; justify-content: center;
  background-color: black;
  color:white; 

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.stage{
  position: relative; overflow:hidden; 
  padding: 0; margin: 0;
  
  width: 512px; height: 512px;

  border:5px solid black;
}

.textbox{
  z-index: 100;

  position: absolute;
  width: 99%;
  bottom: 0;
  left: 0;

  word-wrap: break-word;

  background-color: black;
  color: white;

  padding: 5px;

  font-family: 'JetBrains Mono', monospace;
  line-height: 17px;
  font-size:16px;
}

h3{
  padding-left: 25px; padding-right: 25px;
  line-height: 4px;
}


.background{
  position: absolute;
  overflow:hidden;

  top: -512;
  left: -512;

  width: 1536px;
  height: 1536px;
  
  background-repeat: repeat;  
  background-image: none;

  animation: background_slide 5s linear infinite;
}
@keyframes background_slide { 0%{transform: translate(0, 0);} 100%{transform: translate(0, 0);} }

img{
  position:absolute; 
  bottom: 0;
  left: 0%;
}

button{
  font-size: 30px;
  margin: 30px;
  position:relative;
  align-self: center;
  z-index: 3;
  background-color: black;
  color: white;
}

.debug{
  display: none;

  width: 512px; height: 512px;
  overflow-y: scroll; 
  overflow-x: hidden; 
}